<div class="container container-index">
	<legend>Kim jesteśmy?</legend>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<%= image_tag "projekt-slub-duet.jpg", :class =>"media-object img-thumbnail" %>
		</div>
		<div class="col-md-6 col-xs-12">
			<p class="my"><strong>Projekt Ślub</strong> realizują dwie siostry architektki - właścicielki <a href "http://archiduo.pl",  target = "_blank"><strong>Pracowni Projektowej Archiduo</strong></a>. Miejsce to prowadzone jest z pasją, a powstało na skutek naszych doświadczeń związanych z organizacją własnych ślubów i wesel.</p>
			<p class="my">Tworząc nasze projekty, ściśle z państwem współpracujemy. Pytamy o Wasze zainteresowania, hobby, ulubione kolory. Proponujemy nietypowe i wyjątkowe rozwiązania, które jak najlepiej będą wyrażały Was oraz <br />na pewno zachwycą Waszych gości!</p>
		</div>
	</div>

	<legend>Kontakt</legend> 

	<div class="row">
		<div class="col-md-12 col-xs-12"> 
			<%= image_tag "projekt-slub-jak-zamawiac.jpg", :class =>"img-responsive " %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class ="well text-center">
				<p class="h-margin">Pracujemy: <strong>8.00-16.00</strong> od poniedziałku do piątku.</p>
				<p class="my">Na wszystkie zapytania ofertowe staramy się odpisywać jak najszybciej. Jeżeli nie otrzymają Państwo odpowiedzi<br /> w ciągu 5 dni roboczych, prosimy o ponowne wysłanie wiadomości.</p>
			</div>	

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h2 class="no-txt-dec"><%= link_to "Zapytaj nas o wybrany produkt", '/formularz' %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-xs-5">
			<%= image_tag "projekt-slub-anna-stolinska-sledz.jpg", :class =>"img-circle img-responsive" %>
		</div>
		<div class="col-md-4 col-xs-5">
			<p class="our-contact my"><h4 class="h-roboto h-margin">Anna Stolińska-Śledź</h4><h4><span class="glyphicon glyphicon-phone-alt phone-alt"></span><strong>(+48) 502-177-825</strong></h4></p>
		</div>
		<div class="col-md-2 col-xs-5">
			<%= image_tag "projekt-slub-katarzyna-kostecka.jpg", :class =>"img-circle img-responsive" %>
		</div>
		<div class="col-md-4 col-xs-5">
			<p class="our-contact my"><h4 class="h-roboto h-margin">Katarzyna Kostecka</h4><h4><span class="glyphicon glyphicon-phone-alt phone-alt"></span><strong>(+48) 662-940-130</strong></h4></p>
		</div>
	</div>

	<div class="contact-end">
		<legend>Piszą o nas</legend>
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<ul class="list-unstyled list-center">
					<li><a href="http://www.bridelle.pl/?p=35184", target= "_blank">Prezentacja Projekt Ślub</a></li>
					<li><a href="http://www.bridelle.pl/?page_id=56449", target= "_blank"><strong>Tytuł trendsetters 2013</strong></a></li>
					<li><a href="http://www.bridelle.pl/?p=30475", target= "_blank"><strong>Tytuł trendsetters 2011</strong></a></li>
				</ul>
			</div>
			<div class="col-md-8 col-xs-12">
				<blockquote>
					<p>Siostry – architektki zakochały się w papierze i jest to zdecydowanie miłość odwzajemniona! Ich pomysły są klarowne, przemyślane, koncepcyjne i spójne.<br />Kochają kolory!</p>
					<footer>Karolina Waltz, <i>Bridelle</i></footer>
				</blockquote>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 cols-xs-12">
				<ul class="list-unstyled list-center">
				<li><a href="http://fashionelka.pl/projekt-naszych-slubnych-zaproszen", target = "_blank">Zaproszenia Fashionelki</a></li>
				<li><a href="http://www.welonimuszka.pl/index.php/2011/12/projekt-slub/", target = "_blank">Welon i Muszka</a></li>
				<li><a href="http://www.bialeinspiracje.pl/?p=11771", target = "_blank">Białe inspiracje</a></li>
				<li><a href="http://www.bankier.pl/wiadomosc/Biznes-slubny-kwitnie-w-sieci-2844372.html", target= "_blank">Biznes ślubny w sieci</a></li>
				</ul>
			</div>
			<div class="col-md-8 col-xs-12">
				<blockquote>
				<p>Tak wiele osób nie może się mylić. Skromnie, klasycznie bez tandety, serduszek i motylków. Delikatne nawiązanie do motywu przewodniego, urocza kokardka, kilka kartek z najważniejszymi informacjami. <br />Zaproszenia wyszły idealnie.</p>
				<footer>Eliza Wydrych, <i>Fashionelka</i></footer>
				</blockquote>
			</div>
		</div>

	</div>


</div>